span > input {
  background: none;
  color: white;
  padding: 0;
  border: 0;
}

:root {
  --header-height: 60px;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}
.navbar {
  height: var(--header-height);
}
.showcase {
  background-image: url(/static/assets/coding.jpg);
  background-color: darkslategrey;
  background-size: cover;
  min-height: 450px;
  width: 100%;
}

#hero {
  font-family: 'Montserrat', 'Tahoma', 'Verdana', sans-serif;
  font-size: 88px;
}

.photo-credit{
  float: right;
}

#main-footer{
  background-color: black;
  color: #fff;
  padding: 2em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* media queries */
@media screen and (max-width:498px){
  #hero {
    font-size: 40px;
  }
  .display-custom{
    font-size: 32px;
  }
  .photo-credit{
    text-align: center;
    float: none;
  }
}
@media screen and (min-width:499px) and (max-width:800px){
  #hero {
    font-size: 4em;
  }
  .display-custom{
    font-size: 3em;
  }
  .photo-credit{
    text-align: center;
    float: none;
  }
}