span > input {
  background: none;
  color: white;
  padding: 0;
  border: 0;
}

.showcase {
  background-image: url(/static/assets/coding.jpg);
  background-size: cover;
  min-height: 450px;
  width: 100%;
}

.h1-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
}

/* media queries */
@media (max-width:720px){
  .h1-custom {
    font-size: 4em;
  }
  .display-4{
    font-size: 3em;
  }
}
