{% extends 'base.html' %} {% block head %}
<title>Edit Post</title>
<meta id="page-data" data-pageid="2" />
{% endblock %} {% block body %}
<div class="container">
  <hr />
  <h2 class="display-4">Edit Post</h2>
  <form action="/blog_edit/{{post.id}}" method="POST" novalidate>
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" value="{{post.title}}" autocomplete="off"
      required />
    <br />
    <label for="author">Author</label>
    <input class="form-control" type="text" name="author" id="author" value="{{post.author}}" autocomplete="off"
      required />
    <br />
    <label for="content">Post</label>
    <textarea class="form-control mb-2" style="resize: none" name="content" id="content" cols="30" rows="10"
      value="{{post.content}}">
{{post.content}}</textarea>
    <input type="text" name="dateEdited" id="dateEdited" readonly hidden>
    <button type="submit" class="btn btn-primary mr-3">
      <i class="bi bi-save"></i> Save Changes
    </button>
    <a href="/blog_posts" class="btn btn-secondary" role="button"><i class="bi bi-x-circle"></i> Cancel</a>
  </form>
  <hr />
</div>
{% endblock %}