{% extends 'base.html' %}

{% block head %}
<title>To-do List alpha</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="text-center mt-3 mb-3">Task Master</h1>

    <div class="container">
        {% if tasks|length < 1 %}
        <div class="alert alert-info">
            <strong>You currently have no tasks.</strong> Get started by creating some tasks below!
        </div>

        {% else %}

        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Added</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.dateCreated.date() }}</td>
                    <td>
                        <a href="/update/{{task.id}}" class="btn btn-success btn-block">Edit</a>
                        <a href="/delete/{{task.id}}" class="btn btn-danger btn-block">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <form action="/" class="needs-validation" method="POST" novalidate>
            <div class="row">
                <div class="col-lg-9">
                    <input type="text" class="form-control mb-3" name="content" required id="content" placeholder="Enter Task"
                    autocomplete="off" required>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary btn-block" value="Add Task">
                </div>
            </div>
            
            
        </form>
    </div>
    <div style="margin-bottom: 3em;"></div>

</div>
{% endblock %}