{% extends 'base.html' %} {% block head %}
<title>To-do List alpha</title>
<meta id="page-data" data-pageid="1" />
{% endblock %} {% block body %}
<div class="content">
  <h1 class="text-center">Task Master</h1>

  <div class="container">
    <h2 class="text-center">Edit Tasks</h2>

    <form
      action="/task_update/{{task._id}}"
      class="needs-validation"
      method="POST"
      novalidate
    >
      <div class="row">
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control mb-3"
            name="content"
            id="content"
            value="{{task.text}}"
            autocomplete="off"
          />
        </div>
        <div class="col-lg-2">
          <button class="btn btn-success btn-block mb-3" type="submit">
            <i class="bi bi-check-circle"></i> Update
          </button>
        </div>
        <div class="col-lg-2">
          <a href="/task" class="btn btn-secondary btn-block"
          role="button"><i class="bi bi-x-circle"></i> Cancel</a
          >
        </div>
      </div>
    </form>
  </div>
  <div style="margin-bottom: 23em;"></div>
</div>
{% endblock %}
